# ignore intellij files
/*.ipr
/*.iws
/*.iml
/.idea
/.idea_modules

# ignore binaries
/server/server
/server/gin-bin

# ignore temp
/*.env
/.lein-env

# ignore development files
/public/dev
/public/provider/dev


